@inject Blazored.LocalStorage.ILocalStorageService localStore
@page "/Counter"

<div class="todo-container">

    <h1>To-Do List</h1>
    <div class="todo-input">
          <input type="text" @bind="todoInput"/>
          <button @onclick="AddTodo">Add</button>    
    
    
    </div>
    @foreach(var todo in todos)
     {
        <div class="todo-item">
             <div class="todo-item__text">@todo</div>
             <div class="todo-item__close">&times;</div>
        </div>
           
     }
</div>

@code{

    public string todoInput { get; set; }
    public List<string> todos = new List<string>();

    public void AddTodo()
    {
        Console.WriteLine(todoInput);
        todos.Add(todoInput);
    }


}