
@page "/"

<font color="#d9d9d9"><h1 style="text-align:center">Local Notes</h1></font>




<br />
<div class="text-center">
<textarea @bind="noteContent" />
    
</div>



@code{
    const string noteKey = "note";
    string noteContent;

    
}

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4 style="text-align: right; color: #dedede">Adam Hintz nr.109281</h4>
<h4 style="text-align: left; color: #dedede">WORK IN PROGRESS...</h4>